<div class="education">
  <h2>Education</h2>

  <div class="row">
    <div class="col-1 text-right">
      <i class="fas fa-graduation-cap" style="margin-right: -15px"></i>
    </div>
    <div class="col-9">
      <div class="school-name">
        <a href="https://en.snu.ac.kr/">Seoul National University</a>
      </div>
      
      <ul class="list-unstyled">
        <li>B.S. in Computer Science & Engineering</li>
        <li>B.S. in Mathematical Sciences (Double Major)</li>
        <li>GPA: 4.06/4.30 (Overall), 4.23/4.30 (Major), 4.28/4.30 (Upper)</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-1 text-right">
      <i class="fas fa-graduation-cap" style="margin-right: -15px"></i>
    </div>
    <div class="col-9">
      <div class="school-name">
        <a href="http://en.sshs.hs.kr/html/index.php">Seoul Science High School</a>
      </div>
    </div>
  </div>
</div>